body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: #35312A;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.fancy {
  line-height: 0.5;
  text-align: center;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  height:5px;
}
.fancy span {
  display: inline-block;
  position: relative;
  background-color: transparent;
  font-size: 2em;
  padding:5px;
  top:-5px;  
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.carousel-caption {
  color: black;
  position: initial;
}

.container {
  width: 640px;
}

.container {
  background-image: url('../images/bg_image_welcome.png');
  background-color: black;
  background-size: auto 100%; /* width and height, can be %, px or whatever. */
  background-position: center;
  background-repeat: no-repeat;
}

#categoryForm .item {
  height:650px;
}

#categoryForm .item .content-box, .content-box {
  color: white;
  background-color:black;
  opacity: 0.8;
  font-size: 1.4em;
  padding:10px;
}

.btn-warning {
  background-color: #edb800;
  font-size: 1.8em;
  width:120px;
  height:40px;
}

.carousel-caption {
  padding-top:20%;
}

.carousel-caption.summary {
  padding-top:20px;
  height:650px;
  overflow-y:auto;
}

.carousel-caption > footer {
  margin-top:100px;
}

.carousel-caption > footer > div {
  display: inline-block;
}

.carousel-caption > footer > div > .btn {
  margin-top:20px;
}

.carousel-caption > footer > .gutter {
  margin-right:50px;
}

.cat-header {
  display: inline-block;
  background-color: black;
  opacity: 0.6;
  color: white;
  line-height: 3em;
  padding: 0 50px;
  font-size:1.5em;
  font-weight: bold;
}

#jp_container_1 {
  width: 200px;
  display: inline-block;
  text-align: center;
}

.jp-progress {
  margin-top:20px;
  height: 10px;
}

.jp-seek-bar {
  background-color: black;
}

.jp-seek-bar, .jp-play-bar{
  height: 100%;
}

.jp-play-bar {
  background-color: #edb800;
}

.jp-play, .jp-pause {
  width:70px;
  height:70px;
  border: #edb800 3px solid;
  border-radius: 35px;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  color: #edb800;
  font-size: 2em;
}

.jp-play:hover, .jp-pause:hover {
  color: #edb800;
  text-decoration: none;
}

.logo-big, .logo-small {
 margin-top:20px;
 float:right; 
}